<head>
    <link rel="stylesheet" href="stylesheets/adminpanel.css">
    <title>Add User</title>
</head>
<header>
    <div class="logout">
<a href="/adminhome" style="text-decoration: none; color:inherit"><p class="h5" >Admin</p></a>
        <a href="/signout"> <button class="btn btn-secondary btn-sm">Log Out</button></a>

    </div>
</header>
<div class="container">
    <h1>Add User</h1>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <form action="/adduser" method="POST" id="createform">
                    <td scope="col">
                        <label for="name">
                            <input type="text" name="name" id="fname">
                        </label>
                    </td>
                    <td scope="col"> <label for="email">
                            <input type="text" name="email" id="femail">
                        </label></td>
                    <td scope="col"> <label for="password">
                            <input type="password" name="password" id="fpass1">
                        </label></td>
                    <td>
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </td>
                </form>


            </tr>
            <tr>
                <td><label for="name" id="nameerr" class="text-danger"></label></td>
                <td><label for="email" id="emailerr" class="text-danger"></label></td>
                <td><label for="password" id="pass1err" class="text-danger"></label></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="container">
<label class="text-danger">{{error}}</label>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="scripts/createuser.js"></script>