header{
    width: 100%;
    padding: 5px;
    background-color: chocolate;
    }
    
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .display-6 , .h5 {
        padding: 1px 25px;
    }
    .logout{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .container{
        margin: 2rem;
    }

    .search{
        display: flex;
    }
.add{
    display: flex;
    justify-content: end;
}